:root {
    /*-----------------------------font-size------------------------*/
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-mmd: 20px;
    --fs-lg: 22px;
    --fs-2lg: 24px;
    --fs-xl: 12px;
    --fs-xxl: 15px;
    --fs-2xl: 32px;
}

.navIcons {
    font-size: var(--fs-lg);
}

.hero-section-para {
    font-size: var(--fs-2xl);
}

.discord-btn {
    font-size: var(--fs-2lg);
}

.presale {
    font-size: var(--fs-xxl);
}

.numbers {
    font-size: var(--fs-mmd);
}

.token-sold {
    font-size: var(--fs-sm);
}

.buy-tokens-btn {
    font-size: var(--fs-2lg);
}

.timer {
    font-size: var(--fs-xl);
}

.minutes {
    font-size: var(--fs-xxl);
}

.withdraw-tokens {
    font-size: var(--fs-md);
}

.soft-cap {
    font-size: var(--fs-md);
}

.counting {
    font-size: var(--fs-2lg);
}

@media(min-width:576px) {
    :root {
        --fs-2xl: 72px;
        --fs-xl: 26px;
        --fs-xxl: 30px;
    }
}