@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/*-------------header-------------*/
.bg-image {
    background-image: url(../image/forest.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.layer {
    position: relative;
}

.layer::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.19) 42.67%, #000000 96.67%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    content: '';
    height: 100%;
    width: 100%;
    top: 0%;
    position: absolute;
    left: 0%;
}

/*-------------header-------------*/
/*-------------nav----------------*/
.navIcons {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
}

.navIcons:hover {
    font-weight: 700;
}

nav {
    background: #0000001A;
}

.position-relative {
    position: relative;
}

.z-index-1 {
    z-index: 1;
}

.z-index-9 {
    z-index: 9;
}

.discord-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    background: linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);
    box-shadow: 0px 8px 30px 0px #1BABFE;
    border-radius: 100px;
    padding: 20px 34px;
    border: none;
    cursor: pointer;
}

/*-------------nav----------------*/
/*------------padding-------------*/
.py-22 {
    padding: 22px;
}

.pt-15 {
    padding-top: 15px;
}

.px-17 {
    padding-left: 17px;
    padding-right: 17px;
}

.pt-56 {
    padding-top: 56px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.py-19 {
    padding-top: 19px;
    padding-bottom: 19px;
}

/*------------padding-------------*/
/*------------margin--------------*/
.mt-60 {
    margin-top: 60px;
}

/*------------margin--------------*/
/*--------------gap---------------*/
.gap-16 {
    gap: 16px;
}

.gap-10 {
    gap: 10px;
}

.gap-40 {
    gap: 40px;
}

.gap-48 {
    gap: 48px;
}
/*--------------gap---------------*/
/*-------------line---------------*/
.line {
    width: 70%;
    height: 2px;
    background: linear-gradient(180deg, #815CC8 0%, #1BABFE 100%);
}

.line1 {
    width: 30%;
    height: 2px;
    background-color: #C4C4C4;
}

/*-------------line---------------*/
/*----------common class----------*/
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-centre {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.min-vh-100 {
    min-height: 100vh;
}
/*----------common class----------*/
/*-------------col6---------------*/
.hero-section-para {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 91.8px;
    text-align: left;
    color: white;
    padding-top: 100px;
}

.hero-section-para:hover {
    font-weight: 500;
}

/*-------------col6 over-------------*/
.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

/*-------------col5-------------*/
.card {
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.presale {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: white;
    padding-top: 20px;
}

.numbers {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #1BABFE;
    padding-top: 16px;
}

.token-sold {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #C9DBDD;
    padding-top: 5px;
}

.timer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: white;
}

.minutes {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: white;
}

.border {
    border: 0.4px solid #8C8C8C
}

.withdraw-tokens {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
    padding-left: 8px;
}

.soft-cap {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #C7C9CA;
    padding-top: 10px;
}

.counting {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    padding-top: 6px;
    padding-bottom: 10px;
}

.buy-token-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    background: linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);
    border-radius: 100px;
    padding: 12px 32px 12px 32px;
    border: none;
    cursor: pointer;
}

/*-------------col5 over-------------*/

@media (max-width:1200px) {
    label[for="menubar"] {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 9;
    }

    label[for="menubar"]>span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 2px;
    }

    ul.mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: purple;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked~ul {
        background-color: purple;
        right: 0;
    }

    .svgBox {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(min-width:1200px) {
    .col-xl-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-xl-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }
}